<a href="https://colab.research.google.com/github/karthikeya22-tech/Data-Analytics-Lab/blob/main/Lab11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Predictive analytics**

Predictive analytics uses historical data, statistical algorithms, and machine learning techniques to forecast what is likely to happen in the future. It goes beyond describing past events to making informed predictions about future outcomes.

Core Purpose

Predictive analytics answers questions like:

What will happen next? What is the probability of this outcome? Which customers are likely to churn? What will sales be next quarter?

In [5]:
import numpy as np
import pandas as pd

df=pd.read_csv("product_sales_data.csv")
df.head()

     Month  Price  MarketingSpend  SeasonalityIndex  Sales
0  2023-01  13.75         2824.28              0.00    424
1  2023-02  19.51         4140.70             19.92    465
2  2023-03  17.32         1798.70             36.54    349
3  2023-04  15.99         3056.94             47.11    475
4  2023-05  11.56         3369.66             49.88    586

In [6]:
# 2) Prepare features (X) and target (y)
X = df[["Price", "MarketingSpend", "SeasonalityIndex"]].values
y = df["Sales"].values.reshape(-1, 1)

# Add bias (intercept) term
X_b = np.c_[np.ones((X.shape[0], 1)), X]

In [7]:
# 3) Train model using Normal Equation
theta = np.linalg.inv(X_b.T @ X_b) @ X_b.T @ y

print("\nModel Coefficients:")
print("Intercept:", theta[0][0])
print("Price Coefficient:", theta[1][0])
print("MarketingSpend Coefficient:", theta[2][0])
print("SeasonalityIndex Coefficient:", theta[3][0])

Model Coefficients:
Intercept: 492.30896278512193
Price Coefficient: -19.853618234139653
MarketingSpend Coefficient: 0.08101437907829281
SeasonalityIndex Coefficient: 1.069813841417265

In [8]:
# 4) Predictions on training data
y_pred = X_b @ theta

In [9]:
# 5) Model Evaluation using R^2
ss_res = np.sum((y - y_pred) ** 2)
ss_tot = np.sum((y - np.mean(y)) ** 2)
r2 = 1 - (ss_res / ss_tot)

print("\nR^2 Score:", r2)

R^2 Score: 0.982025298591867

In [10]:
# 6) Predict future sales (example: next 3 months)
future_data = np.array([
    [15.0, 3000, 20],
    [14.5, 3500, 10],
    [15.5, 3200, -5]
])

# Add bias term
future_data_b = np.c_[np.ones((future_data.shape[0], 1)), future_data]

future_predictions = future_data_b @ theta

print("\nFuture Sales Predictions:")
for i, pred in enumerate(future_predictions, 1):
    print(f"Month {i} Predicted Sales:", int(pred[0]))

Future Sales Predictions:
Month 1 Predicted Sales: 458
Month 2 Predicted Sales: 498
Month 3 Predicted Sales: 438